@font-face {
  font-family: jakob;
  src: url("../Jakob/jakob.bold.ttf");
}
body {
  font-family: jakob;
}
:root {
  --fs-xsm: 16px;
  --fs-sm: 18px;
  --fs-md: 25px;
  --fs-xmd: 28px;
  --fs-lg: 30px;
  --fs-xlg: 32px;
  --fs-xl: 48px;
  --fs-xxl: 54px;
  --fs-xxxl: 110px;
  /* color */
  --white: #ffffff;
  --light-green: #92d131;
  --green: #97cc3c;
  --dark-green: #72a24f;
  --dark-gray: #aedb5c;
  --blue: rgba(54, 55, 124, 1);
  --light-blue: #e2fff1;
  --skin: #eaf5c8;
}

@media (max-width: 1199.98px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-xmd: 28px;
    --fs-lg: 30px;
    --fs-xlg: 32px;
    --fs-xl: 48px;
    --fs-xxl: 54px;
    --fs-xxxl: 110px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-xmd: 28px;
    --fs-lg: 30px;
    --fs-xlg: 32px;
    --fs-xl: 48px;
    --fs-xxl: 54px;
    --fs-xxxl: 110px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-xmd: 28px;
    --fs-lg: 30px;
    --fs-xlg: 32px;
    --fs-xl: 48px;
    --fs-xxl: 54px;
    --fs-xxxl: 110px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-xmd: 28px;
    --fs-lg: 30px;
    --fs-xlg: 32px;
    --fs-xl: 48px;
    --fs-xxl: 54px;
    --fs-xxxl: 110px;
  }
}

/*  font Weight */
.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

/* font size */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_xmd {
  font-size: var(--fs-xmd);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xlg {
  font-size: var(--fs-xlg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_xxxl {
  font-size: var(--fs-xxxl);
}
/* COLOR-CALSES */
.green {
  color: var(--green);
}
.light-green {
  color: var(--light-green);
}
.dark-green {
  color: var(--dark-green);
}
.dark-gray {
  color: var(--dark-gray);
}
.blue {
  color: var(--blue);
}
.light-blue {
  color: var(--light-blue);
}
.skin {
  color: var(--skin);
}
.opacity_07 {
  opacity: 0.7;
}

body #dark:checked ~ *,
body #dark:checked ~ * * {
  /* Dark Mode Style Variables */
  --app-bg: #424242;
  --text-color: #e0e0e0;
  --mode-label-bg: #eeeeee;
  --mode-label-after-bg: #383838;
  --mode-label-after-left: 32px;
  --ops-color: #b45627;
}

#mode-label {
  position: relative;
  border-radius: 20px;
  width: 50px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--mode-label-bg, #363636);
}
#mode-label::after {
  content: "";
  border-radius: 100%;
  height: 16px;
  width: 16px;
  left: var(--mode-label-after-left, 2px);
  background-color: var(--mode-label-after-bg, #e9e9e9);
  top: 2px;
  transition: all 0.3s;
  position: absolute;
}

.app {
  height: auto !important;
  min-height: 100%;
  padding: 50px;
  transition: all 1s;
  background-color: var(--app-bg);
}

.main-section {
  height: 100vh;
  width: 100%;
  background: rgba(174, 219, 92, 1);
}

.active-body .main-section {
  background: rgba(51, 162, 164, 1);
}
/* ROADMAP-CSS */
.cricle-img {
  border-radius: 50%;
}

.roadmap-line-img {
  left: 15.4%;
  top: 5%;
  z-index: -1;
}

.line-img {
  width: 12px;
  height: 582px;
  background: linear-gradient(
    to top,
    rgb(107, 231, 237) 94.1771%,
    rgb(227, 50, 239) 96.1771%,
    rgb(227, 50, 239) 100%
  );
}

.h-500 {
  height: 500px;
}
