:root {
  --app-bg: #fdfdfd;
  --text-color: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color: var(--text-color);
}

html,
body {
  height: 100%;
}

body #dark:checked ~ *,
body #dark:checked ~ * * {
  /* Dark Mode Style Variables */
  --app-bg: #424242;
  --text-color: #e0e0e0;
  --mode-label-bg: #eeeeee;
  --mode-label-after-bg: #383838;
  --mode-label-after-left: 32px;
  --ops-color: #b45627;
}

#mode-label {
  position: relative;
  border-radius: 20px;
  width: 50px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--mode-label-bg, #363636);
}
#mode-label::after {
  content: "";
  border-radius: 100%;
  height: 16px;
  width: 16px;
  left: var(--mode-label-after-left, 2px);
  background-color: var(--mode-label-after-bg, #e9e9e9);
  top: 2px;
  transition: all 0.3s;
  position: absolute;
}

.app {
  height: auto !important;
  min-height: 100%;
  padding: 50px;
  transition: all 1s;
  background-color: var(--app-bg);
}

.main-section {
  height: 100vh;
  width: 100%;
  background-image: url("../images/png/BackgroundLightGradient.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.active-body .main-section {
  background-image: url("../images/png/BackgroundDarkGradient copy.png");
}
/* ROADMAP-CSS */
.cricle-img {
  border-radius: 50%;
}

.roadmap-line-img {
  left: 15.4%;
  top: 5%;
  z-index: -1;
}

.line-img {
  width: 12px;
  height: 582px;
  background: linear-gradient(
    to top,
    rgb(107, 231, 237) 94.1771%,
    rgb(227, 50, 239) 96.1771%,
    rgb(227, 50, 239) 100%
  );
}

.h-500 {
  height: 500px;
}
